[Desktop Entry]
Type=Application
Name=Markman
Comment=Native Markdown editor built with Rust and GPUI
Exec=markman %F
Icon=com.manyougz.Markman
Terminal=false
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;text/x-markdown;
StartupNotify=true
StartupWMClass=com.manyougz.Markman
